<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5 p-3 bg-light border border-info">
      <form [formGroup]="infoForm" (ngSubmit)="sendMail()" #form="ngForm">
        <label for="nameInp"></label>
        <input type="text" id="nameInp" placeholder="name" class="form-control border-info" formControlName="name">

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger p-1">

          <p *ngIf="name.errors.required" class="mb-0">
            Name is required.
          </p>
          <p *ngIf="name.errors.minlength" class="mb-0">
            Name must be at least 3 characters long.
          </p>
        </div>

        <label for="mailInp"></label>
        <input type="text" id="mailInp" placeholder="email" class="form-control border-info" formControlName="email">

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger p-1">

          <p *ngIf="email.errors.required" class="mb-0">
            Email is required.
          </p>
          <p *ngIf="email.errors.email" class="mb-0">
            Email is incorrect.
          </p>
        </div>

        <div class="text-right mt-3">
          <button class="btn btn-info" [disabled]="form.invalid">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
